* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:'Times New Roman', Times, serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #016d01;
}
.homepage {
  text-align: center;
}
.homepage h1 {
  font-weight: 700;
  font-size: 47px;
  color: black;
}
.homepage p {
  font-weight: 400;
  font-size: 27px;
  padding-top: 10px;
  color: black;
}
